<div class="wrapper">
  <h1>Registros</h1>

  <section class="users-container">
    <div *ngFor="let user of users" class="user-info">
      <ul>
        <li id="name">{{user.name}}</li>
        <div class="divider"></div>
        <li id="email"><span>Email:</span> {{user.email}}</li>
        <li id="cpf"><span>CPF:</span> {{user.cpf}}</li>
        <li id="phone"><span>Tel.:</span> {{user.phone}}</li>
        <li id="validated"><span>Check:</span> {{ user.validated ? 'Validado' : 'Não validado' }}</li>
        <li id="knowledge"><span>Conhecimentos:</span> {{user.knowledge}}</li>
        <li id="btn">
          <a [routerLink]="['/' + user.name + '/validar']" target="_blank">Validar</a>
        </li>
      </ul>
    </div>
  </section>

</div>
