<h2>Registros</h2>
<ul class="users">
  <li *ngFor="let user of users">
    <ul>
      <span class="name">{{user.name}}</span>
    </ul>
    <ul>
        <span class="email">{{user.email}}</span>
      </ul>
      <ul>
        <span class="cpf">{{user.cpf}}</span>
      </ul>
      <ul>
        <span class="phone">{{user.phone}}</span>
      </ul>
      <ul>
        <span class="validated">{{ user.validated ? 'Validado' : 'Não validado' }}</span>
      </ul>
      <ul>
        <span class="knowledge">{{user.knowledge}}</span>
      </ul>

  </li>
</ul>
